<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <header>
      <nav>
        <h1 id="aboutTitle"><%= title %></h1>
        <a class="navOption" href="/usages/create">Create new entry</a>
        <a class="navOption" href="/usages/usagelist">Modify/Delete entry</a>
        <a class="navOption" href="/reports/create">Report on daily usage</a>
        <a class="navOption" href="/about">About</a>
        <a class="navOption" href="/help">Help</a>
      </nav>
    </header>
  </head>
  <body id="indexBody">
    <div id="aboutDiv">
      <h1 class="indexPara">This website was created to record mobile phone usage.</h1>
      <h3>Using this website, you are able to create a new Mobile Phone Usage entry, as well as updating and deleting entries.</h3>
      <h3>You can also create a Report based on Usage by a User using a date range.</h3>
      <h3>For a full list of actions you may perform please look above in navigation bar.</h3>
    </div>
  </body>
</html>
