<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <header>
      <nav>
        <h1 id="helpTitle"><%= title %></h1>
        <a class="navOption" href="/usages/create">Create new entry</a>
        <a class="navOption" href="/usages/usagelist">Modify/Delete entry</a>
        <a class="navOption" href="/reports/create">Report on daily usage</a>
        <a class="navOption" href="/about">About</a>
        <a class="navOption" href="/help">Help</a>
      </nav>
    </header>
  </head>
  <body id="indexBody">
    <div id="aboutDiv">
      <h1 class="helpPhone">Help Phone Usage</h1>
      <iframe src="https://docs.google.com/document/d/e/2PACX-1vSLVD3m7q0KZbcbZAuWxKHVrJeeXw4Eww6LKdtp6lpKrJytq8mJOpcc_bakgFdR52jXIqVTJrqO7TeK/pub?embedded=true" frameborder=“0” marginheight=“0” marginwidth=“0”></iframe>
    </div>
  </body>
</html>
