<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <header>
      <nav>
        <h1 id="navTitle"><%= title %></h1>
        <a class="navOption" href="/usages/create">Create new entry</a>
        <a class="navOption" href="/usages/usagelist">Modify/Delete entry</a>
        <a class="navOption" href="/reports/create">Report on daily usage</a>
        <a class="navOption" href="/about">About</a>
        <a class="navOption" href="/help">Help</a>
      </nav>
    </header>
  </head>
  <body id="indexBody">
    <div id="indexDiv">
      <h1 id="indexWelcome">Welcome to my Mobile Usage website</h1>
      <h3 id="indexPara">I hope you enjoy using my Mobile Phone Usage calculator!</h3>
    </div>
  </body>
</html>
